.page {
  flex: 1 1 auto;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.section {
  background-color: var(--color-white);
  flex: 1;
  padding-top: 3em;
  padding-bottom: 3em;
  flex-direction: column;
  display: flex;
  gap: 4em;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4em;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
}

.nav {
  display: flex;
  gap: 0.8em;
}

.reset {
  border: 1px solid var(--border-color);
  border-radius: 0.8em;
  padding: 1em;
  width: 4.2em;
  height: 4.2em;
}

.add {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.6em;
  padding: 1em 2em;
  transition: background-color 0.2s ease;

  svg {
    width: 1.8em;
    height: 1.8em;
  }

  span {
    font-weight: 600;
    font-size: 1.4rem;
  }

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.loader {
  flex: 1;
}

.empty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 4rem;
    color: var(--color-gray-text);
  }
}
